/* Write your CSS here! */
image img {
    width: 100%;
    height: auto;
}
body{
    padding-left: 15%;
    padding-right: 15%;
    margin: 8px;
}
.funParagraph {
    color: green
} 
h1 {
    color: red;
    text-align: center;
}
